*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

#table {
  width: 90%;
  height: 85%;
  border: 20px solid rgb(93, 57, 28);
  border-radius: 100px;
  background-color: rgb(26, 73, 14);
}

#main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 120px;
  left: 0;
  right: 0;
}

.player {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pLeft {
  top: 0;
  bottom: 0;
  left: 20px;
  transform: rotate(90deg);
}

.pRight {
  top: 0;
  bottom: 0;
  right: 20px;
  transform: rotate(-90deg);
}

.pTop {
  top: 120px;
  right: 0;
  left: 0;
}

.card {
  z-index: 1;
  width: 120px;
  aspect-ratio: 2/3;
  background-image: url(cards/rev.png);
  background-repeat: no-repeat;
  object-fit: contain;
  image-rendering: pixelated;
  border-radius: 5%;
  transition: transform 0.2s ease;
  margin-inline: 10px;
}

.interactable:hover {
  transform: translateY(-20px);
  z-index: 999;
}

.play {
  transform: translateY(-200px);
}
